*{
  margin: 0;
  padding: 0;
  font-family: Mulish, sans-serif;
}
html{
  background-color: #FBFBFB;
}

.nav-container{
  display: flex;
 
  justify-content: space-around;
  align-items:center;
   box-shadow:0px 4px 5px gray;
  padding: 10px;
  background-color: white;
  margin-bottom:40px;
  position: sticky;
  z-index: 10;
  right: 0;
  top: 0;
  left: 0;
 
 
}
.nav-container1{
  display: flex;
 flex-direction:row;
  justify-content: space-around; 
  border-bottom:1px solid gray;
 
}
.nav-container1 > .right-half{
  display:flex;
  justify-content: space-around;
  align-items:center;
  gap: 20px;
}
.nav-container1 > .right-half > span{
  font-weight:300;
}
.container{
  width: 85vw;
  margin: 120px auto;
}
.left{
   display: flex;
  justify-content: space-between; 
  align-items:center;
  gap: 20px;
}
.right{
   display: flex;
  justify-content:center; 
  align-items:center;
  gap: 20px;
}
.menu{
  display: none;
}
.right > div{
   display: flex;
  flex-flow:row wrap;
  justify-content:center; 
  align-items:center;
  gap: 5px;
}
.logo{
  width: 50px;
}


                            /* Card Story */


.card-container{
  display: grid;
  grid-template-columns:repeat(4, auto);
  margin-top: 20px;
}
.card{
  padding: 20px;
  width: 250px; 
  position: relative;
  padding-bottom:0px;
}
.card:hover{
  outline: 0.5px solid gray;
}
.card::before{
  content: 'PROMOTED';
    display: block;
  position: absolute; 
  top: 20px;
  background-color: black;
  color: white;
  padding: 4px;
  left: 8px;
}
.card-img{
  width: 250px;
}
.card p{
  margin: 5px 0;
  font-weight: 100 !important;
}
.rating-container{
  display: flex;
  justify-content:space-around;
  align-items:center;
  padding: 10px 0;
  border-bottom:0.1px solid gray ;
  gap: 3.5px;
}
.bullet{
  width:4px;
  height: 4px;
  background-color:black;
  border-radius:50%;
}
.offer-container{
  display:flex;
  align-items:center;
  padding: 10px 0;
  border-bottom:0.1px solid gray ;
  font-size: 14px;
  gap: 10px;
  color: #8A584B;
}
.rating-container > .rating{
  display: flex;
  align-items:center;
  background-color: #DB7C38 !important;
font-size: 13px;
  padding: 5px;
}
.star{
  font-size: 13px;
}

.btn{
  display: block;
  border: none;
  font-weight: bold;
  color: blue;
  margin: 5px auto;
  padding: 5px 0;
  background-color: #fff;
  visibility:hidden;
}
.card:hover .btn{
  visibility:visible;
}

          /* footer */

.footer{
  background-color: black;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  padding: 100px;
}
.footer > div{
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}
.footer > div > a{
  color: white;
  text-decoration: none;
}
.footer h5{
  color: #808080;
  margin: 10px 0px;
}
.footer img{
  width:150px;
  border: 2px solid gray;
  transition-duration:0.5s;
  border-radius:5px;
}

.footer img:hover{
  width: 160px;
}
.store-container{
  align-items:center;
}
.footer a{
  font-weight: 300;
}
.footer a:hover{
  font-weight: bold;
}
                        /* Tab view */

@media(max-width:800px){
  .card-container{
    grid-template-columns:repeat(2, auto);
  }
  .footer{
    grid-template-columns:repeat(2, auto);
  }
    .menu{
    display:block;
  }
   .right{
    display: none;
  }
}

/*         Mobile view              */

@media(max-width:600px){
  .card-container{
    grid-template-columns:auto;
    justify-items:center;
  }
     .footer{
    grid-template-columns:auto;
/*        justify-items:center; */
       gap: 20px;
  }
}


